.main-header {
  height: 100px;
  flex-shrink: 0;
  background: #0a5688;
  display: flex;
  justify-content: space-between;
  padding: 12px 63px 12px 43px;
  align-items: center;
}

.main-header div{
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}