.main-container-card{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
    width: 458px;
}
.dashboardCard{
    width: 223px;
height: 171px;
flex-shrink: 0;
border-radius: 8px;
background: #A4AA88;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 12px;
}
.dashboardCard p{
    color: #FFF;
font-family: Metropolis;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 133.333% */
letter-spacing: 0.44px;
}
.dashboardCard h1{
    color: #FFF;
font-family: Metropolis;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 85.714% */
letter-spacing: 0.44px;
}