*{
  margin: 0px;
  padding: 0px;
}
.main-container{
  display: flex;
}
.right-container{
  padding-left: 42px;
    width: 100%;
}
.add-new{
  --gray-10: "#F7F9FA";
  border-radius: 4px;
  padding: 6px;
  background: #F7F9FA;
  color: var(--gray-80, #5E6366);
  text-align: center;
  font-family: Metropolis;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

}